/*CAROUSEL */

#myCarousel {
  /*height: 600px;*/
}

.text-bloc {
  height: 600px;
  line-height: 600px;
  text-align: center;
}

.img-bloc {
  height: 600px;
  text-align: center;
}

.text-bloc p {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  color: white !important;
}

.img-bloc img {
  display: inline-block;
  margin: auto;
  width: 600px;
  height: 600px;
}

.img-bloc video {
  display: inline-block;
  margin: auto;
  width: 640px;
  height: 360px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-inner p {
  font-size: 1.4em;
}

.carousel-inner span {
  font-size: 2em;
  text-transform: uppercase;
}

@media (max-width: 768px)
{
  .text-bloc {
    height: 100px !important;
    line-height: 100px !important;
    text-align: center !important;
  }

  .img-bloc {
    height: 200px !important;
  }

  .img-bloc img {
    width: 200px !important;
    height: 200px !important;
  }

  .carousel-inner {
    height: 400px !important;
  }
}

@media (max-width: 992px)
{
  .text-bloc {
    height: 400px;
    line-height: 400px;
    text-align: center;
  }

  .img-bloc {
    height: 400px;
    text-align: center;
  }

  .img-bloc img {
    display: inline-block;
    margin: auto;
    width: 400px;
    height: 400px;
  }

  .carousel-inner {
    height: 420px;
  }

}
