h1 {
  font-family: 'Passion One', cursive;
  color: white;
  font-size: 72px;
}
h2 {
  color: white;
  font-family: 'Passion One', cursive;
  font-size: 5rem;
}
h1, h2 {
  text-align: center;
  margin-top: 50px;
}
h3 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}
hr {
  width: 40%;
  margin-bottom: 25px;
}
#caroussel-head {
  background-color: #e83434 !important;
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

/*MENU*/

.navbar {
  /*height: 100px !important;*/
  background-color: white;
}
.navbar-brand {
  padding: 0 !important;
}

/*.navbar-collapse{
  padding-top: 20px;
}*/

.load-text {
  color: white;
  font-weight: bolder;
  font-size: 18px;
}
.load-text {
  display: flex;
  justify-content: center;
}
.load-text:hover {
  color: #e83434;
}
nav a, .navbar i {
  font-weight: bold;
  font-size: 15px;
}
nav a {
  font-family: 'Montserrat', sans-serif;
}
.navbar ul, .navbar i {
  color: #e83434 important;
  margin-right: 10px !important;
}
.fa-navicon {
  font-size: 30px !important;
  color: #E83434;
}
.fa-mobile {
  font-size: 2rem !important;
}
.navbar i:hover {
  color: #2A54FF;
}
.down-load {
  background-color: #e83434;
}

/*CAROUSEL */

#myCarousel {
  height: 600px;
}
.carousel-inner {
  height: 600px;
}

/*LE PRINCIPE (FONCTIONNEMENT)*/

#function {
  background-color: #6ca0ee !important;
}
.red {
  color: #e83434;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.fa-users, .fa-bell, .fa-ambulance {
  color: white;
  text-align: center;
}
.fa-circle {
  color: #e83434;
}
.arrived, .crash, .community {
  margin-top: 25px;
}
.crash-icon, .community-icon, .arrived-icon {
  text-align: center;
}
.crash-text, .community-text, .arrived-text {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  text-align: justify;
}
.italic-bold, em {
  font-style: italic;
  font-weight: bold;
}
.italic-bold {
  color: #e83434;
}
#function p {
  margin-top: 15px;
  margin-bottom: 35px;
}
#function h3 {
  color: #e83434;
}

/*COMMUNAUTE*/

#community {
  background-color: white;
}
#community h2, #community hr {
  color: #6ca0ee;
}
#community p {
  font-weight: bold;
  font-style: italic;
}

/*telechargements*/

#download {
  background-color: #e83434;
}
#download .red {
  color: white;
}
.julie-img {
  border-radius: 100%;
}
.app-os {
  width: 100%;
  display: inline-flex;
  /*flex: auto;*/
  justify-content: space-around;
}
.android, .apple, .windows {
  text-align: center;
}
#download .fa-circle {
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
#download .fa-windows, #download .fa-android, #download .fa-apple {
  color: #e83434;
}
#download a:hover {
  font-size: 90%;
  /*text-shadow: 0 10px 20px #9a9a9a;*/
}
#download h2 {
  padding-top: 25px;
  padding-bottom: 25px;
}
#download h3 {
  text-shadow: 0 1px 2px #deded8;
}
#download h5 {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
}
.mailchip {
  width: 100%;
  padding-top: 2px;
  text-align: center;
}

/*footer*/

#foot .fa-circle {
  color: white;
  text-shadow: 1 10px 2px rgba(0, 0, 0, .6);
  border: 1px outset #337AB7;
  border-radius: 15px;
}
#foot li {
  font-size: 8px;
  font-weight: lighter;
  display: inline;
}

/*#foot .fa-stack{
      margin-right: 80px;
}*/

#foot ul {
  list-style-type: none;
  padding: 0;
}
#foot h5 {
  text-align: center;
  padding-top: 10px;
}
.social {
  width: 10%;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
}
#foot hr {
  color: #6ca0ee !important;
}

/*.help-team{
  width: 100%;
  display: inline-flex;

}
.team-group{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}*/
